body {
  font-family: "Roboto", sans-serif;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
nav ul li a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  font-size: 1.2em;

  padding: 10px;
  display: flex;
}

nav ul li a:hover {
  background-color: #ccc;
  color: #000;
}

nav h2 {
  font-size: 24px;
  color: #f9faf8;
}

nav .active {
  background-color: #ccc;
  color: #000;
}

#hero {
  background-color: #1f2937;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  margin-left: 0;
  padding: 0 15%;
}

#hero h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

#hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.left-container {
  flex: 1;
  padding: 50px;
}

button {
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  padding: 12px 20px;
  border: none;
  background-color: #3882f6;
  color: white;
}

.right-container {
  flex: 1;
  padding: 50px;
}
.left-container button:hover {
  background-color: white;
  color: #3882f6;
  transform: translateY(-2px);
}

.right-container img {
  width: 500px;
}

#random-info {
  text-align: center;
  padding: 50px;
}

#random-info h2 {
  margin-bottom: 50px;
}

.random {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fa {
  font-size: 50px;
  margin: 0px 50px;
}

.icon-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10;
}

.icon-sec span {
  margin-top: 10px;
}

#testimonial {
  background-color: #e5e7eb;
  padding: 90px;
}

#testimonial .testimonial {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
  margin: auto;

  max-width: 75%;
}

#testimonial .name {
  direction: rtl;
  margin-right: 200px;
  font-weight: bold;
}

#sign-up {
  background-color: #3882f6;
  margin: 70px 140px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7.5rem;
}

.sign-text {
  margin-left: 50px;
  color: #f9faf8;
}

.sign-text h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.sign-text p {
  font-size: 18px;
  margin-top: 0;
}

#sign-up button {
  height: 30px;
  padding: 18px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  background-color: #3882f6;
  border: 1px solid #f9faf8;
  color: #f9faf8;
}

#sign-up button:hover {
  background-color: white;
  color: #3882f6;
  transform: translateY(-2px);
}

footer {
  color: #f9faf8;
  background-color: #1f2937;
  text-align: center;
  padding: 30px;
}

.odd {
  background-color: #e5e7eb;
}
.first {
  margin-top: 70px;
}
.odd,
.even {
  display: flex;
  justify-content: space-around;
}

.container {
  margin-top: 70px;
  width: 400px;
}

.even {
  flex-direction: row-reverse;
  background-color: #fff;
}

#products img {
  text-align: center;
  border-radius: 15px;
  margin: 70px 0;
}

.container button:hover,
form button:hover {
  color: #3882f6;
  background: #f9faf8;
  border: 1px solid #3882f6;
  transform: translateY(-2px);
}

form {
  width: 25%;
  margin: 140px auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc;
  background-color: #e5e7eb;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* input[type="submit"] {
  background-color: #3882f6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

form:hover {
  box-shadow: 4px 4px 10px #ccc;
}
